<form>
  <div class="form-group">
    <label for="title">Tên sản phẩm</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="price">Giá</label>
    <div class="input-group">
      <span class="input-group-text">vnđ</span>
      <input type="number" class="form-control" id="price">
    </div>
  </div>
  <div class="form-group">
    <label for="category">Thể loại</label>
    <select class="form-control" id="category">
      <option value=""></option>
      <option [value]="item.$key" *ngFor="let item of categories$ | async">{{item.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">Link hình ảnh</label>
    <input type="text" class="form-control" id="imageUrl">
  </div>
  <button class="btn btn-primary">Save</button>
</form>