<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="sticky-top">
        <div class="list-group">
          <a *ngIf="filterProducts.length !== 0" routerLink="/" [class.active]="!category" class="list-group-item list-group-item-action">Tất
            cả</a>
          <a *ngFor="let item of categories$ | async" routerLink="/" [queryParams]="{category: item.key}" class="list-group-item list-group-item-action"
            [class.active]="category === item.key">{{item.payload.node_.children_.root_.value.value_}}</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <ng-container *ngFor="let p of filterProducts; let i = index">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" [src]="p.payload.node_.children_.root_.left.value.value_">
              <div class="card-body">
                <h5 class="card-title">{{p.payload.node_.children_.root_.right.value.value_}}</h5>
                <p class="card-text">{{p.payload.node_.children_.root_.value.value_}}000 vnđ</p>
              </div>
              <div class="card-footer">
                <button (click)="addToCard(product)" class="btn btn-primary btn-block">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
          <div *ngIf="( i + 1 ) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>